.formcontainer {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 1rem;
    text-align: left;
}

.auth_container {
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.tagline {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
}

.input {
    background-color: transparent;
    color: var(--primary);
    font-size: 3rem;
    width: 100%;
    padding: 12px 20px;
    font-weight: 600;
    text-align: left;
    display: inline-block;
    border: 1px solid var(--primary);
    box-sizing: border-box;
    border-radius: 0px;
    transition: 0.3s ease-in-out;
}

.input::placeholder {
    color: transparent;
    font-weight: 50;
    font-size: 2rem;
}

.password {
    -webkit-text-security: circle;
}

.formcontainer input[type=text]:focus, .formcontainer input[type=password]:focus {
    border-radius: 0px;
    outline: none;
    box-shadow: 0 0 5px 1px var(--primary);
    z-index: 100;
}

.tag {
    color: var(--primary);
    text-align: left;
    margin: 0px;
    font-weight: 600;
    font-size: 2.5rem;
    display: inline-block;
}

.switch {
    color: var(--primary);
    text-align: right;
    margin: 0px;
    font-weight: 50;
    font-size: 2.5rem;
}


/* Style the submit button */
.button {
    background-color: var(--primary);
    color: var(--secondary);
    padding: 12px 20px;
    font: 2.5rem 'Mohave';
    font-weight: 600;
    border: 1px solid var(--primary);
    cursor: pointer;
    width: 100%;
    transition: 0.2s ease-in-out;
}

.button:hover, .button:hover>a {
    background-color: transparent;
    color: var(--primary);
    box-shadow: 0 0 5px 1px var(--primary);
}

.a {
    color: var(--primary);
    background-color: var(--secondary);
    text-decoration: none;
    transition: 0.2s ease-in-out;
}

.a_tag {
    color: var(--primary);
    text-decoration: underline;
    transition: 0.2s ease-in-out;
}

.a_tag:hover {
    color: var(--primary);
    text-decoration: underline;
    cursor: pointer;
}

.formcontainer .rednotice {
    color: rgb(255, 79, 79);
}

.formcontainer .greennotice {
    color: rgb(103, 255, 103);
}

.formcontainer .blacknotice {
    color: rgb(0, 0, 0);
}