.logout_button {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font: 2.5rem 'Mohave';
    font-weight: 600;
    padding: 8px 20px;
    color: var(--secondary);
    background-color: var(--primary);
    border: 1px solid var(--primary);
    transition: 0.2s ease-in-out;
}

.logout_button:hover {
    color: var(--primary);
    background-color: transparent;
    box-shadow: 0 0 5px 1px var(--primary);
    transition: 0.2s ease-in-out;
}