# noce modules, compiled code and old deprecated modules
api-st/node_modules
api-st/dist
api-st/tsconfig.tsbuildinfo

# next.js and database not ready yetl
njs-st
db-st

# docker secrets
secrets/postgres_password.txt
secrets/postgres_connection.txt