.box {
    background-color: #b400002f;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 0 5px 1px #b400002f;
    font-size: 3rem;
}

.a {
    text-decoration: underline;
}

.a:hover {
    cursor: pointer;
}