
.header {
  width: 100%;
  background-color: transparent;
  
}

.footer {
  width: 100%;
  background-color: transparent;
  
}

/* THIS IS OLD OLD OLD OLD OLD OLD OLD OLD  */


.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.main {
  z-index: 1;
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer img {
  margin-left: 0.5rem;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  color: white;
  margin: 0;
  line-height: 1.15;
  font-size: 5rem;
}

.toptitle {
  position: absolute;
  top: 20px;
  margin: 0;
  line-height: 1.15;
  font-size: 3rem;
}

.subtitle {
  margin: 0;
  line-height: 1.15;
  font-size: 2rem;
}

.title,
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  margin-top: 3rem;
}

.card {
  margin: 1rem;
  flex-basis: 45%;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h3 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.appleBox {
  border: 1px solid white;
  border-radius: 10px;
  display: inline-block;
  padding: 0.5px;
}

.appleButton {
  background-color: transparent;
  height: 65px;
}

.appleButton:hover {
  cursor: pointer;
}

.logo {
  height: 1em;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

/* MainTime */
/* latin-ext */
@font-face {
  font-family: 'Mohave';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://dev-health.maintime.io/data/fonts/mohave/Mohave_LatinExt.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Mohave';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://dev-health.maintime.io/data/fonts/mohave/Mohave_Latin.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.column {
  font: 2.5rem 'Mohave';
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
}

.row {
  font: 2.5rem 'Mohave';
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
}

/* OLD cs.t3l.ls Styling */

/* styles.css */
.out_formcontainer,
.in_formcontainer,
.formcontainer {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: left;
}

.out_formcontainer {
    gap: 6px;
}

.in_formcontainer {
    min-width: 30px;
    gap: 12px;
}

.formcontainer {
    gap: 1rem;
}

.h1 {
    text-align: left;
    margin: 0;
    font-weight: 600;
    font-size: 4.5rem;
    width: 100%;
}

.tag {
    text-align: left;
    margin: 0;
    font-weight: 600;
    display: inline-block;
    color: var(--primary);
}

.tag.size-2-5rem {
    font-size: 2.5rem;
}

.tag.size-3rem {
    font-size: 3rem;
}

.text {
    text-align: left;
    margin: 0;
    font-weight: 300;
    font-size: 2rem;
    display: inline-block;
}

.a {
    color: var(--primary);
    background-color: var(--secondary);
    text-decoration: none;
    transition: 0.2s ease-in-out;
}

.a_tag {
    color: var(--primary);
    text-decoration: underline;
    transition: 0.2s ease-in-out;
}

.a_tag:hover {
    cursor: pointer;
}

.px5 {
    padding: 2.5px;
}

.button_box {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6px;
    text-align: left;
}

.button,
.logout_button {
    background-color: var(--primary);
    color: var(--secondary);
    padding: 8px 20px;
    font: 2.5rem 'Mohave';
    font-weight: 600;
    border: 1px solid var(--primary);
    cursor: pointer;
    width: 100%;
    transition: 0.2s ease-in-out;
}

.button:hover,
.button:hover>a,
.logout_button:hover {
    background-color: transparent;
    color: var(--primary);
    box-shadow: 0 0 5px 1px var(--primary);
}

.logout_button {
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.tagline {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
}

.input {
    background-color: transparent;
    color: var(--primary);
    font-size: 3rem;
    width: 100%;
    padding: 12px 20px;
    font-weight: 600;
    text-align: left;
    display: inline-block;
    border: 1px solid var(--primary);
    box-sizing: border-box;
    transition: 0.3s ease-in-out;
}

.input::placeholder {
    color: transparent;
    font-weight: 50;
    font-size: 2rem;
}

.password {
    -webkit-text-security: circle;
}

.formcontainer input[type=text]:focus,
.formcontainer input[type=password]:focus {
    outline: none;
    box-shadow: 0 0 5px 1px var(--primary);
}

.formcontainer .rednotice {
    color: rgb(255, 79, 79);
}

.formcontainer .greennotice {
    color: rgb(103, 255, 103);
}

.formcontainer .blacknotice {
    color: rgb(0, 0, 0);
}

.authcontainer {
    position: absolute;
    z-index: 100;
}