.main {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100svh;
  font: 8px 'Mohave', sans-serif;
  user-select: none;
}

.container {
  position: absolute;
  height: 100svh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  position: absolute;
  width: 100%;
  bottom: 0.2rem;
  border-top: 1px solid #333333;
  color: #333333;
  padding: 1rem;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 1.5rem;
  margin: 0;
  line-height: 1.15;
  font-weight: 600;
}

.circles {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid2x2 {
  position: absolute;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 0.5rem;
}

.inside {
  z-index: 10;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inside :hover {
  cursor: pointer;
}

.time {
  width: 5.5ch;
  font-size: 4.5rem;
  text-align: left;
}

.fullfilment {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
}

.config {
  z-index: 15;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.configText {
  z-index: 15;
  font-size: 1rem;
}

.settingsIcon {
  width: 3rem;
  height: 3rem;
}

.clickable {
  z-index: 20;
  position: absolute;
  bottom: 4rem;
  right: 1rem;
  cursor: pointer;
}

.settingsBox {
    position: absolute;
    z-index: 15;
    width: 100%;
    max-width: 450px;
    background-color: var(--secondary-transparent);
    box-shadow: 0 0 180px 300px var(--secondary-transparent);
}

.generalTime {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
}

.textInput {
  width: 5rem;
}